# 作業1
* 建立 DB 及 Collection (名稱自訂)，使用 Python 取得連線。

# 作業2
* 使用 Python 操作 Mongo 中的資料。

In [198]:
# Connect the mongo server
from pymongo import MongoClient
client = MongoClient(host='127.0.0.1', port=27017)

In [199]:
#use or create db  and  select collections
db = client["demodb"]
collection = db["member"]

In [200]:
#insert one 
my_data = {"name": "Andy", "phone": '0917381313', "email": 'jason@gmail.com',"age":24,"country":"JP"}
result = collection.insert_one(my_data)
print(result.inserted_id)

5fe6ae1dc0bd0c2d5a3d7fb9

In [201]:

#insert many
data_list = [{"name" : "Binod Suman", "email" : "test1@abc.com", "phone": "0912345672","age":36,"country":"US"},
            {"name" : "Cathy", "email" : "test2@abc.com", "phone": "0912345672","age":36,"country":"IN"}, 
            {"name" : "David", "email" : "test3@abc.com", "phone": "0912345673","age":45,"country":"IN"},
            {"name" : "Jason", "email" : "test4@abc.com", "phone": "0912345671","age":26,"country":"US"},
            {"name" : "Jason", "email" : "test5@abc.com", "phone": "09342345678","age":36,"country":"JP"}]
result = collection.insert_many(data_list)
print(result.inserted_ids)
collection.count_documents({})

[ObjectId('5fe6ae24c0bd0c2d5a3d7fba'), ObjectId('5fe6ae24c0bd0c2d5a3d7fbb'), ObjectId('5fe6ae24c0bd0c2d5a3d7fbc'), ObjectId('5fe6ae24c0bd0c2d5a3d7fbd'), ObjectId('5fe6ae24c0bd0c2d5a3d7fbe')]

6

In [202]:
for x in collection.find():
  print(x)

{'_id': ObjectId('5fe6ae1dc0bd0c2d5a3d7fb9'), 'name': 'Andy', 'phone': '0917381313', 'email': 'jason@gmail.com', 'age': 24, 'country': 'JP'}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fba'), 'name': 'Binod Suman', 'email': 'test1@abc.com', 'phone': '0912345672', 'age': 36, 'country': 'US'}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbb'), 'name': 'Cathy', 'email': 'test2@abc.com', 'phone': '0912345672', 'age': 36, 'country': 'IN'}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbc'), 'name': 'David', 'email': 'test3@abc.com', 'phone': '0912345673', 'age': 45, 'country': 'IN'}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbd'), 'name': 'Jason', 'email': 'test4@abc.com', 'phone': '0912345671', 'age': 26, 'country': 'US'}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbe'), 'name': 'Jason', 'email': 'test5@abc.com', 'phone': '09342345678', 'age': 36, 'country': 'JP'}

In [203]:
collection2 = db["member"]
collection2.insert_one({"name":"Bill Gates", 'email': 'test4@gmail.com', "phone": "0921349821","country":"IN","age":55,"country":"IN"})

In [206]:
collection2.count_documents({})

7

In [207]:
collection2.find_one()

{'_id': ObjectId('5fe6ae1dc0bd0c2d5a3d7fb9'),
 'name': 'Andy',
 'phone': '0917381313',
 'email': 'jason@gmail.com',
 'age': 24,
 'country': 'JP'}

In [208]:
# Display all records
for x in collection.find():
  print(x)

{'_id': ObjectId('5fe6ae1dc0bd0c2d5a3d7fb9'), 'name': 'Andy', 'phone': '0917381313', 'email': 'jason@gmail.com', 'age': 24, 'country': 'JP'}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fba'), 'name': 'Binod Suman', 'email': 'test1@abc.com', 'phone': '0912345672', 'age': 36, 'country': 'US'}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbb'), 'name': 'Cathy', 'email': 'test2@abc.com', 'phone': '0912345672', 'age': 36, 'country': 'IN'}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbc'), 'name': 'David', 'email': 'test3@abc.com', 'phone': '0912345673', 'age': 45, 'country': 'IN'}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbd'), 'name': 'Jason', 'email': 'test4@abc.com', 'phone': '0912345671', 'age': 26, 'country': 'US'}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbe'), 'name': 'Jason', 'email': 'test5@abc.com', 'phone': '09342345678', 'age': 36, 'country': 'JP'}
{'_id': ObjectId('5fe6ae29c0bd0c2d5a3d7fbf'), 'name': 'Bill Gates', 'email': 'test4@gmail.com', 'phone': '0921349821', 'country': 'IN', 'age': 55}

In [209]:
collection.delete_many({"name": "Jason"})

In [210]:
collection.delete_one({"name": "Binod Suman"})

In [211]:
# Display limited documents
for x in collection.find().limit(2):
  print(x)

{'_id': ObjectId('5fe6ae1dc0bd0c2d5a3d7fb9'), 'name': 'Andy', 'phone': '0917381313', 'email': 'jason@gmail.com', 'age': 24, 'country': 'JP'}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbb'), 'name': 'Cathy', 'email': 'test2@abc.com', 'phone': '0912345672', 'age': 36, 'country': 'IN'}

In [212]:

# Show only name and phone details
for x in collection.find({},{"_id": 0,"name": 1,"phone": 1}):
  print(x)

{'name': 'Andy', 'phone': '0917381313'}
{'name': 'Cathy', 'phone': '0912345672'}
{'name': 'David', 'phone': '0912345673'}
{'name': 'Bill Gates', 'phone': '0921349821'}

In [213]:
# Get all record country is IN
for x in collection.find({"country":"IN"}):
  print(x)

{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbb'), 'name': 'Cathy', 'email': 'test2@abc.com', 'phone': '0912345672', 'age': 36, 'country': 'IN'}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbc'), 'name': 'David', 'email': 'test3@abc.com', 'phone': '0912345673', 'age': 45, 'country': 'IN'}
{'_id': ObjectId('5fe6ae29c0bd0c2d5a3d7fbf'), 'name': 'Bill Gates', 'email': 'test4@gmail.com', 'phone': '0921349821', 'country': 'IN', 'age': 55}

In [214]:
# Get all record id is more than 2
for x in collection.find({"age":{"$gt": 40}}):
  print(x)

{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbc'), 'name': 'David', 'email': 'test3@abc.com', 'phone': '0912345673', 'age': 45, 'country': 'IN'}
{'_id': ObjectId('5fe6ae29c0bd0c2d5a3d7fbf'), 'name': 'Bill Gates', 'email': 'test4@gmail.com', 'phone': '0921349821', 'country': 'IN', 'age': 55}

In [215]:
# Get all record name start with "B"
for x in collection.find({"name":{"$regex": "^D"}}):
  print(x)

{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbc'), 'name': 'David', 'email': 'test3@abc.com', 'phone': '0912345673', 'age': 45, 'country': 'IN'}

In [216]:
# Sort on name field
# Display all records
for x in collection.find().sort("name"):
  print(x)

{'_id': ObjectId('5fe6ae1dc0bd0c2d5a3d7fb9'), 'name': 'Andy', 'phone': '0917381313', 'email': 'jason@gmail.com', 'age': 24, 'country': 'JP'}
{'_id': ObjectId('5fe6ae29c0bd0c2d5a3d7fbf'), 'name': 'Bill Gates', 'email': 'test4@gmail.com', 'phone': '0921349821', 'country': 'IN', 'age': 55}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbb'), 'name': 'Cathy', 'email': 'test2@abc.com', 'phone': '0912345672', 'age': 36, 'country': 'IN'}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbc'), 'name': 'David', 'email': 'test3@abc.com', 'phone': '0912345673', 'age': 45, 'country': 'IN'}

In [217]:
#Update Many
myquery = { "country": { "$regex": "^IN" } }
newvalues = { "$set": { "country": "IND" } }

result = collection.update_many(myquery, newvalues)

print(result.modified_count, "documents updated.")

3 documents updated.

In [218]:
for x in collection.find().sort("name"):
  print(x)

{'_id': ObjectId('5fe6ae1dc0bd0c2d5a3d7fb9'), 'name': 'Andy', 'phone': '0917381313', 'email': 'jason@gmail.com', 'age': 24, 'country': 'JP'}
{'_id': ObjectId('5fe6ae29c0bd0c2d5a3d7fbf'), 'name': 'Bill Gates', 'email': 'test4@gmail.com', 'phone': '0921349821', 'country': 'IND', 'age': 55}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbb'), 'name': 'Cathy', 'email': 'test2@abc.com', 'phone': '0912345672', 'age': 36, 'country': 'IND'}
{'_id': ObjectId('5fe6ae24c0bd0c2d5a3d7fbc'), 'name': 'David', 'email': 'test3@abc.com', 'phone': '0912345673', 'age': 45, 'country': 'IND'}

In [219]:
#list database
client.list_database_names()

['Member', 'admin', 'config', 'demodb', 'local']

In [220]:
#list collection
client["demodb"].list_collection_names()

['member']